# build output
dist/
.astro/

# scraper etag cache
scripts/.cache/

# dependencies
node_modules/

# env & logs
.env
.env.*
!.env.example
.dev.vars
**/.dev.vars
!**/.dev.vars.example
npm-debug.log*
*.log

# OS
.DS_Store
